
:root {
  --size-space-s: 10px;
  --size-space-m: 20px;
  --size-space-l: 30px;
  --color-border-primary: red;
  --color-background-primary: green;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex.super-gap {
  gap: 30px;
}

.flex.super-gap>* {
  width: 150px;
}

.flex.row {
  flex-direction: row;
}

.columns {
  display: grid;
  gap: 40px;
  grid-template-columns: 300px 300px;
}
